@page "/orders"
@inherits OrdersBase

<PageTitle>Event Stream</PageTitle>

<h1>Event Stream</h1>

<RadzenRow Gap="1rem">
    <RadzenColumn class="rz-p-6">
        <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="1rem" Wrap="FlexWrap.Wrap">
            <RadzenFormField Text="Connection Url" Style="width: 100%;">
                <RadzenTextBox @bind-Value="@OrderNumber" Style="width: 100%;"/>
            </RadzenFormField>
            <RadzenFormField Text="Connect As" Style="width: 100%;">
                <RadzenTextBox @bind-Value="@OrderAs" Style="width: 100%;"/>
            </RadzenFormField>
            <RadzenButton Click="@(args => Order())" Text="Order" ButtonStyle="ButtonStyle.Primary"/>
        </RadzenStack>
    </RadzenColumn>
</RadzenRow>